<%-include("partials/header") -%> 
<div class="container">
<h1>Home</h1>
<%=homeStartingContent  %> 


<% post.forEach((post)=>{%>
    <h1><%= post.title  %> </h1>
<p><%= post.content.substring(0,100) %>...<a href="post/<%=post.title %>" >Read more</a> </p>
<%}) %> 
</div>
<%- include("partials/footer") -%>